<ion-view view-title="Explore">
 <ion-content class="row responsive-lg">
 
<a class="" ng-href="#/app/afrobeatz-pick">
<div class="col button button-balanced">
  <i class="ion-images"></i>
</div> 
</a>
<a ng-href="#/app/tracks">
<div class="col button button-energized">
 <i class="ion-radio-waves"></i>
</div> 
</a>
<a class="" ng-href="#/app/videos">
<div class="col button  button-assertive">
  <i class="ion-videocamera"></i>
</div>
</a>
<a class="" ng-href="#/app/events">
<div class="col button button-dark"> 
  <i class="ion-mic-c"></i>
</div>
</a>
</ion-content>
</ion-view>